---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout>
  <!-- post -->
  <article class="prose-l py-14 px-4">
    <h1>Blog content will come here</h1>
  </article>

  <!-- post end -->
</BaseLayout>
