---
import Home from "../components/Home.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header slot="hero" class="max-w-7xl mx-auto">
    <section class="h-96 px-10 flex items-center">
      <h1 class="text-9xl tracking-tight">Code feature</h1>
    </section>
  </header>

  <Home />
</Layout>
