---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import appleImage from "../assets/apple.jpg";
---

<div class="rounded-md overflow-hidden w-32">
  <h1>Home</h1>
  <img src={appleImage.src} alt="apple image" class="aspect-4/3 object-cover" />
</div>
