<!-- left right vertical borders, full screen height -->
<div class="pointer-events-none fixed inset-0 z-50 flex justify-center">
  <div class="h-full w-full max-w-7xl border-r-[1px] border-l-[1px] border-gray-400"></div>
</div>
<!-- end of left right borders -->
