<nav class="fixed top-0 right-0 left-0 z-40 h-16 border-b-[1px] border-gray-400 bg-gray-100">
  <div class="mx-auto flex h-full max-w-7xl justify-between">
    <div class="flex items-stretch">
      <a href="/" class="flex items-center px-8 text-lg font-medium font-mono hover:underline">fedaipaca.</a>
    </div>
    <div class="flex items-stretch">
      <a href="/" class="flex items-center px-8 hover:bg-white transition-colors">Home</a>
      <a href="/about" class="flex items-center px-8 hover:bg-white transition-colors">About</a>
      <a href="/contact" class="flex items-center px-8 hover:bg-white transition-colors">Contact</a>
    </div>
  </div>
</nav>
